.header {
  width: 50%;
  height: 100vh;
  position: sticky;
  top: 0;
  color: rgb(148 163 184);
  padding: 6rem 0;
  box-sizing: border-box;
}

.header-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-presentation__title {
  color: rgb(226 232 240);
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
}

.header-presentation__subtitle {
  color: rgb(226 232 240);
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: 500;
}

.header-presentation__paragraph {
  margin-top: 1rem;
  line-height: 1.5rem;
  width: 90%;
}

.header-nav {
  margin-top: 3rem;
}

.header-nav__link {
  display: inline-block;
  color: rgb(148 163 184);
  text-decoration: none;
  transition: 0.3s;
  padding: 0.7rem 0;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

.header-nav__link:hover {
  color: rgb(226 232 240);
  padding-left: 1rem;
}

.header-networks {
  display: flex;
  gap: 2rem;
  font-size: 0;
}