.about-section {
  margin-bottom: 9rem;
  scroll-margin-top: 6rem;
  position: relative;
}

.about-title {
  color: rgb(226 232 240);
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.about-paragraph {
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.about-paragraph__span {
  color: rgb(226 232 240);
  font-weight: 500;
}

.about-paragraph:last-child {
  margin-bottom: 0rem;
}