.projects-section {
  scroll-margin-top: 6rem;
}

.projects-title {
  color: rgb(226 232 240);
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  transition: 0.2s;
}

.projects-list__card {
  display: flex;
  margin-bottom: 3rem;
  gap: 1rem;
  position: relative;
  transition: 0.2s;
}

.projects-list__card__photo {
  object-fit: cover;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  box-shadow: 3px 3px 3px black;
}

.projects-list__card:last-child {
  margin-bottom: 0rem;
}

.projects-list__card__name {
  color: rgb(226 232 240);
  margin-bottom: 1rem;
  font-weight: 500;
  transition: 0.2s;
}

.projects-list__card__description {
  font-size: 0.9rem;
  line-height: 1.3rem;
}

.projects-list__card:hover .projects-list__card__name {
  color: #2dd4bf;
}

.projects-section:hover .projects-list__card:not(:hover),
.projects-section:hover .projects-title:not(:hover) {
  opacity: 0.3;
}