.skills-section {
  margin-bottom: 9rem;
  scroll-margin-top: 6rem;
  position: relative;
}

.skills-title {
  color: rgb(226 232 240);
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  transition: 0.2s;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.skills-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  filter: drop-shadow(3px 3px 3px black);
  text-align: center;
}

.skills-list__item__icon {
  margin-bottom: 0.5rem;
}

.skills-section:hover .skills-title {
  color: #2dd4bf;
}