.training-section {
  margin-bottom: 9rem;
  scroll-margin-top: 6rem;
}

.training-title {
  color: rgb(226 232 240);
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.training-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.training-list__card {
  position: relative;
  transition: 0.2s;
}

.training-list__card__content {
  display: flex;
  gap: 1rem;
}

.training-list__card__photo {
  object-fit: cover;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  box-shadow: 3px 3px 3px black;
}

.training-list__card__name {
  color: rgb(226 232 240);
  margin-bottom: 1rem;
  font-weight: 500;
  transition: 0.2s;
}

.training-list__card__description {
  font-size: 0.9rem;
  line-height: 1.3rem;
}

.training-list__card:hover .training-list__card__photo {
  border: 2px solid rgba(255, 255, 255, 0.4);
}

.training-list__card:hover .training-list__card__name {
  color: #2dd4bf;
}

.training-list:hover .training-list__card:not(:hover) {
  opacity: 0.3;
}